/* GLOBAL */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #0f172a;
    color: #e5e7eb;
}

/* CONTAINER */
.container {
    max-width: 950px;
    margin: 25px auto;
    padding: 25px;
}

/* HEADER */
header {
    background: linear-gradient(135deg, #1f2937, #0f172a);
    text-align: center;
    padding: 60px 20px;
}

/* PROFILE PICTURE */
.profile-pic {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #38bdf8;
    box-shadow: 0 0 25px rgba(56, 189, 248, 0.5);
    transition: 0.4s ease;
}

.profile-pic:hover {
    transform: scale(1.05);
}

/* TITLES */
h1 {
    margin-top: 15px;
    font-size: 2.2rem;
}

h2 {
    color: #38bdf8;
    margin-bottom: 15px;
    border-left: 5px solid #38bdf8;
    padding-left: 10px;
}

/* SUBTITLE */
.subtitle {
    color: #cbd5e1;
    font-size: 1rem;
}

/* SECTION CARD STYLE */
section {
    background: #111827;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    transition: 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
}

/* SKILLS */
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-card {
    background: #1f2937;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 0.9rem;
    border: 1px solid #334155;
    transition: 0.3s;
}

.skill-card:hover {
    background: #38bdf8;
    color: #0f172a;
    transform: scale(1.05);
}

/* PROJECTS */
.project-card,
.education-card,
.contact-card {
    background: #1f2937;
    padding: 15px;
    margin-top: 12px;
    border-radius: 10px;
    border-left: 4px solid #38bdf8;
    transition: 0.3s ease;
}

.project-card:hover,
.education-card:hover,
.contact-card:hover {
    transform: translateX(5px);
    background: #0b1220;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    color: #94a3b8;
    font-size: 0.9rem;
}

/* ANIMATION */
.fade-in {
    animation: fadeInUp 1s ease forwards;
    opacity: 0;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}